#backgrVid{
    position: fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure content takes up at least the viewport height */
    color: azure;
    background: azure;
}
.titles {
    text-align: center;
    margin-bottom: 20px;
    color: azure;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    grid-gap: 20px; /* Gap between grid items */
    padding: 20px;
    max-width: 800px; /* Set a maximum width for the grid */
    color: azure;
}

.grid-item {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: azure;
}
.grid-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.grid-item #answerButton.button {
    padding: 10px 20px;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.grid-item #answerButton2.button {
    padding: 10px 20px;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

