#entireDiv{
    top:0;
    left:0;
    position : relative;
    height:100%;
    width:100%;
    /*background-color: black;*/
}

#centralDiv{
    position:relative;
    display:flex;
    flex-direction: row;
    width:70%;
    height:70%;
    top:15%;
    left:15%;
    /*background-color: aqua;*/
}
#leftDiv{
    position:relative;
    left:0;
    height:100%;
    width:25%;
    /*background-color:red;*/
    overflow:auto;
}
#leftDiv > a > div{
    height:60px;
    background-color:#383C97;
    margin-bottom:5px;
    display:flex;
    flex-direction:row;
}
#leftDiv > a > div > img{
    position:relative;
    border-radius:15px;
    height:100%;
    width:20%;
    left:0;
}
#leftDiv > a:hover{
  opacity:0.7;
}
#leftDiv > a > div > div{
    position:relative;
    width:80%;
    height:100%;
    right:0;
    /*background-color:orange;*/
    display:flex;
    flex-direction: column;
}
#leftDiv > a > div > div > h4{
    position:relative;
    left:0;
    top:10%;
    margin : 0;
    color:#1A1110;
}
#leftDiv > a > div > div > p{
    position:relative;
    top:30%;
    left:0;
    margin:0;
}



#rightDiv{
    height:100%;
    width:75%;
    /*background-color:orange;*/
    display:flex;
    flex-direction: column;
}
#messageHeaderDiv{
    width:100%;
    height:10%;
    background-color:#124559;
    display:flex;
    flex-direction: row;
    border-radius:10px
}
#messageHeaderDiv > img{
    position:relative;
    border-radius:15px;
    height:100%;
    width:8%;
    left:0;
}
#messageHeaderDiv > div {
    position:relative;
    width:92%;
    height:100%;
    right:0;
    /*background-color:orange;*/
}
#messageHeaderDiv > div > h4{
    position:relative;
    left:0;
    top:10%;
    margin : 0;
    color:#EFF6E0;
}
#messageDiv{
    width:100%;
    height:85%;
    background-color:#EFF6E0;
    overflow:auto;
}
#messageDiv > div{
    position:relative;
    width:100%;
    height:auto;
    margin-bottom:10px;
    /*background-color:forestgreen;*/
    display:flex;
    justify-content : flex-start;
}
#messageDiv > div > div{
    position:relative;
    height:auto;
    width:70px;
}
#messageDiv > div > div > p {
    word-wrap : break-word;
    color:#124559;
}
#messageDiv > div > img{
    border-radius:10px;
    height:15px;
    width:15px;
}

#inputDiv{
    width:100%;
    height:5%;
    /*background-color:gold;*/
    display:flex;
    flex-direction: row;
}
#messageInput{
    height:100%;
    width:80%;
    box-sizing: border-box;
    border: 2px solid #124559;
    border-radius: 12px;
    transition:background-color 0.5s;
}
#messageInput:hover{
    background-color:#124559;
    color:#EFF6E0;
}
#messageButton{
    height:100%;
    width:20%;
    background-color: #124559;
    border: none;
    color: #EFF6E0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    transition-property:background-color,color;
}
#messageButton:hover{
    background-color: #EFF6E0;
    color: #124559;
    border: 2px solid white;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e6f7ff;
}

::-webkit-scrollbar-thumb {
    background-color: #99ccff;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#backgrVid{
    position: fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#leftDiv > a{
    color:inherit;
    text-decoration: none;
    position:relative;
    /*height:60px;*/
}
p{
    color:#124559;
}
#inputDiv > form{
    position:relative;
    width:100%;
    height:100%;
    /*background-color:gold;*/
    display:flex;
    flex-direction: row;
}
